
<h1>Welcome To The Guitar Gallery</h1>
<p>Buy & Sell Rare Guitars</p>
<% if !logged_in? %>
<h4> Please login to add a guitar.</h4>
<% else %>
<h4>You are currently logged in as <%= current_user.username%></h4>
<%end%>