<h1>My Profile</h1>
<br>
<h3>My Guitars</h3>
<ul class="list-group">
  <% @user.guitars.each do |guitar| %>
    <li class="list-group-item">
      <%=link_to "#{guitar.brand} #{guitar.model}",
           guitar_path(guitar.user, guitar) %>
    </li>
  <% end %>
</ul>
<br>
<h3>My Auctions</h3>
<ul class="list-group">
  <% @user.auctions.each do |auction| %>
    <li class="list-group-item">
      <%=link_to "#{auction.title}",
           auction_path(auction) %>
    </li>
  <% end %>
</ul>
