@import "bootstrap/scss/bootstrap";

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.field_with_errors {
  background-color: rgb(247, 143, 143);
}
